ion-card {
    height: 88% !important;
}

.bg{
    --background: none;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,193,1) 100%);
}

.botao {
    height: 24px;
    width: 24px;
}