@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
h1, p, div, a, h3{
    font-family: 'Noto Sans', sans-serif;
}
#uiuiui{
    border-top-style: solid;
}
.block-example {
    width: 100%;
    margin: 0.5rem;
    /*margin-right: 0.5rem;
    /*background-color: #eee;*/
    display: block;
}