.score{
    border-radius: 2px;
    color: white;
    background-color: var(--ion-color-primary);
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 0px;
}

.time{
    border-radius: 2px; 
    color: var(--ion-color-primary);
    border-style: solid; 
    border-width: 2px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom:0px;
}